In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from rtb.datasets import dataset_names, get_dataset

In [3]:
dataset_names

['amazon_reviews', 'fake_reviews']

In [4]:
dataset = get_dataset(
    name="amazon_reviews",
    category="fashion",
    use_5_core=True,
)
dataset

AmazonReviewsDataset()

In [5]:
dataset.val_timestamp, dataset.test_timestamp

(Timestamp('2013-01-01 00:00:00'), Timestamp('2015-01-01 00:00:00'))

In [6]:
# this contains only rows until test_timestamp
# for full database use dataset._full_db (private to discourage user access)
dataset.db

Database()

In [7]:
dataset.db.table_dict.keys()

dict_keys(['customer', 'product', 'review'])

In [8]:
dataset.db.table_dict["customer"].df

     customer_id       customer_name
0              0            Tonya B.
1              1              NaeNae
2              2     Denise A. Conte
3              3  Cognizant Consumer
4              4      William_Jasper
..           ...                 ...
401          401     Amazon Customer
402          402            J. Avila
403          403     Amazon Customer
404          404               Peter
405          405               Susan

[406 rows x 2 columns]

In [9]:
dataset.db.table_dict["product"].df

,product_id,category,brand,title,description,price
0,0,None,None,Calvin Klein Boy's Assorted Boxer Briefs (Pack...,None,10.02
1,1,None,None,Powerstep Pinnacle Orthotic Shoe Insoles,None,24.49
2,2,None,None,Powerstep Pinnacle Orthotic Shoe Insoles,None,24.59
3,3,None,None,Hanes Mens EcoSmart Fleece Sweatpant,The Hanes men's comfort blend EcoSmart sweatpa...,7.73
4,4,None,None,Havaianas Women's Top Flip Flop Sandal,These monochrome Havaianas flip-flops have bol...,7.99
5,5,None,None,var aPageStart = (new Date()).getTime();\nvar ...,Tackle your workout like a champion in the upd...,54.95
6,6,None,None,Leg Avenue Women's Athletic Thigh High Socks,Fun and sexy 3 stripe athletic ribbed thigh hi...,14.76
7,7,None,Kidorable,var aPageStart = (new Date()).getTime();\nvar ...,Nothing brightens up the cold months better th...,14.50
8,8,None,Boomer Eyeware,Extra Pair Value Eyes Plastic Frames 6 Pack - ...,Many of our customers have requested that we d...,9.99
9,9,None,Boomer Eyeware,Extra Pair Value Eyes Plastic Frames 6 Pack - ...,Many of our customers have requested that we d...,9.99
10,10,None,None,NIKE Women's Flex Supreme TR 4 Cross Trainer,Tackle your workout like a champion in the upd...,54.95
11,11,None,None,Hanes Mens EcoSmart Fleece Sweatpant,The Hanes men's comfort blend EcoSmart sweatpa...,7.73
12,12,None,None,Zoo York Big Boys' Short Sleeve Crew Neck Shirt,None,3.28
13,13,None,None,NIKE Women's Flex Supreme TR 4 Cross Trainer,Tackle your workout like a champion in the upd...,54.95
14,14,None,None,NIKE Women's Flex Supreme TR 4 Cross Trainer,Tackle your workout like a champion in the upd...,54.95
15,15,None,None,NIKE Women's Flex Supreme TR 4 Cross Trainer,Tackle your workout like a champion in the upd...,54.95
16,16,None,None,NIKE Women's Flex Supreme TR 4 Cross Trainer,Tackle your workout like a champion in the upd...,54.95
17,17,None,MJ Metals Jewelry,MJ Metals Jewelry 2mm to 10mm White Tungsten C...,None,9.99
18,18,None,Forum Novelties,Forum Novelties Light-Up Ugly Christmas Sweater,Pay tribute to Christmas past in our throwback...,9.99
19,19,None,None,90 Degree By Reflex Power Flex Yoga Capri â€“ Ca...,"Adapted from our best-selling 22"" Power Flex C...",18.99
20,20,None,Quest Sweet,"Baby Headbands Turban Knotted, Girl's Hairband...",None,15.95
21,21,None,Senchanting,Senchanting Women Winter Warm Ski Knitted Croc...,Features: Popular and classic knitted baggy b...,7.99
22,22,None,Epoint,Epoint EGC1B01-03 Multi Mens Paisley Waistcoat...,Brand Name: EpointMaterial: 100% MicrofiberSiz...,15.99
23,23,None,MJ Metals Jewelry,MJ Metals Jewelry 2mm to 10mm White Tungsten C...,None,9.99
24,24,None,None,NIKE Women's Flex Supreme TR 4 Cross Trainer,Tackle your workout like a champion in the upd...,44.95
25,25,None,None,NIKE Women's Flex Supreme TR 4 Cross Trainer,Tackle your workout like a champion in the upd...,44.95
26,26,None,SERMAN BRANDS,SERMAN BRANDS- Carbon Fiber Money Clip Credit ...,SERMAN BRANDS Genuine Leather Wallets RFID B...,14.99
27,27,None,FORTINO LANDI,FORTINO LANDI Men's Long-sleeve Banded Collar ...,Some Call it a 'Casual' Dress Shirt. We Call i...,8.49

In [10]:
dataset.db.table_dict["customer"].df

     customer_id       customer_name
0              0            Tonya B.
1              1              NaeNae
2              2     Denise A. Conte
3              3  Cognizant Consumer
4              4      William_Jasper
..           ...                 ...
401          401     Amazon Customer
402          402            J. Avila
403          403     Amazon Customer
404          404               Peter
405          405               Susan

[406 rows x 2 columns]

In [11]:
dataset.task_names

['customer_churn', 'customer_ltv']

In [12]:
task = dataset.get_task("customer_churn")
task

CustomerChurnTask(dataset=AmazonReviewsDataset())

In [13]:
task.train_table.df

   timestamp  customer_id  churn
0 2011-01-02           22      1
1 2011-01-02           29      1

In [14]:
task.val_table.df

   timestamp  customer_id  churn
0 2013-01-01           28      1

In [15]:
task.test_table.df

   timestamp  customer_id
0 2015-01-01            4
1 2015-01-01           15
2 2015-01-01           23
3 2015-01-01           27

In [16]:
task._full_test_table.df

   timestamp  customer_id  churn
0 2015-01-01            4      0
1 2015-01-01           15      1
2 2015-01-01           23      0
3 2015-01-01           27      1

In [18]:
import numpy as np

pred = np.array([0.2, 0.4, 0.6, 0.8])
task.evaluate(pred)

{'accuracy': 0.5, 'f1': 0.5, 'roc_auc': 0.75}

In [19]:
task.time_col

'timestamp'

In [20]:
task.entity_col

'customer_id'

In [21]:
task.entity_table

'customer'

In [22]:
task.target_col

'churn'