First, `pip install` if you haven't already

In [2]:
!pip install relbench

Requirement already satisfied: relbench in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (0.1.1)
Requirement already satisfied: pandas in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (2.2.2)
Requirement already satisfied: pooch in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (1.8.0)
Requirement already satisfied: pyarrow in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (11.0.0)
Requirement already satisfied: numpy in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (1.26.4)
Requirement already satisfied: duckdb in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (1.0.0)
Requirement already satisfied: requests in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (2.31.0)
Requirement already satisfied: tqdm in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (4.65.0)
Requirement already satisfied: scikit-learn in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (1.3.0)
Requirement already satisfied: typing-extensions in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from relbench) (4.12.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from pandas->relbench) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from pandas->relbench) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from pandas->relbench) (2023.3)
Requirement already satisfied: platformdirs>=2.5.0 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from pooch->relbench) (3.10.0)
Requirement already satisfied: packaging>=20.0 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from pooch->relbench) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from requests->relbench) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from requests->relbench) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from requests->relbench) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from requests->relbench) (2023.7.22)
Requirement already satisfied: scipy>=1.5.0 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from scikit-learn->relbench) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from scikit-learn->relbench) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from scikit-learn->relbench) (2.2.0)
Requirement already satisfied: six>=1.5 in /Users/joshuarobinson/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->relbench) (1.16.0)

# Load database

All it takes is one line!

In [70]:
from relbench.datasets import get_dataset

dataset = get_dataset(
    name="rel-f1", process=True
)  # other options to try include 'rel-amazon', 'rel-stack'

making Database object from raw files...
done in 0.12 seconds.
reindexing pkeys and fkeys...
done in 0.01 seconds.
caching Database object to /Users/joshuarobinson/Library/Caches/relbench/rel-f1/db...
done in 0.02 seconds.
use process=False to load from cache.

Use `process=True` the first time you load a patricular dataset to automatically download the data it's origin source onto your machine. From then on you can set `process=False` for faster loading from cache.


Now we have loaded the database, let's start poking around to see what's inside. To start, let's check the full list of attributes the dataset has...

In [32]:
dir(dataset)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_full_db',
 'cache_dir',
 'db',
 'db_dir',
 'get_task',
 'make_db',
 'max_eval_time_frames',
 'name',
 'pack_db',
 'task_cls_dict',
 'task_cls_list',
 'task_names',
 'test_timestamp',
 'train_start_timestamp',
 'val_timestamp',
 'validate_and_correct_db']

A lot of this list can be ignored, especially the `__blah__` attributes. There are, however, a number of attributes that we _do_ care about.

# Val / Test cutoffs

We can check the val/test time cutoffs as follows:

In [60]:
print(dataset.val_timestamp)
print(dataset.test_timestamp)

2005-01-01 00:00:00
2010-01-01 00:00:00

This shows that data before 2005 is used for training, between 2005 and 2010 for validation, and after 2010 for testing. 

Note that it is a RelBench design choice to make the validation and test cutoffs a dataset property, _not_ a task-specific property. In other words, all tasks for a given database use the same time splits.

# Acessing the raw data


Next we check out `dataset.db`, which holds the data itself...

In [51]:
dataset.db

Database()

This returns a RelBench `Database` object. So let's go one layer deeper and check what's inside this...

In [47]:
dir(dataset.db)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'load',
 'max_timestamp',
 'min_timestamp',
 'reindex_pkeys_and_fkeys',
 'save',
 'table_dict',
 'upto']

With this we can double check the full timespan of the database:

In [22]:
print(dataset.db.max_timestamp)
print(dataset.db.min_timestamp)

2009-11-01 11:00:00
1950-05-13 00:00:00

1950 is the first season for F1! So we have data for the full history of F1. Note that the `max_timestamp` is the cutoff date for validation data. Data from afer 2009 is used for testing, but is hidden from `dataset.db`. To see the full database including test data you can instead use `dataset._full_db`, but we advise caution when using this to avoid inadvertent time leakage. For instance we can check the final cutoff for test data by calling:

In [24]:
print(dataset._full_db.max_timestamp)

2023-11-26 13:00:00

Next let's check out the `dataset.db.table_dict`, which contains the raw tables.

More info on the schemas for F1 and all other datasets can be found at https://relbench.stanford.edu/.

In [56]:
dataset.db.table_dict

{'races': Table(df=
      raceId  year  round  circuitId                  name                date  \
 0         0  1950      1          8    British Grand Prix 1950-05-13 00:00:00
 1         1  1950      2          5     Monaco Grand Prix 1950-05-21 00:00:00
 2         2  1950      3         18      Indianapolis 500 1950-05-30 00:00:00
 3         3  1950      4         65      Swiss Grand Prix 1950-06-04 00:00:00
 4         4  1950      5         12    Belgian Grand Prix 1950-06-18 00:00:00
 ..      ...   ...    ...        ...                   ...                 ...
 815     815  2009     13         13    Italian Grand Prix 2009-09-13 12:00:00
 816     816  2009     14         14  Singapore Grand Prix 2009-09-27 12:00:00
 817     817  2009     15         21   Japanese Grand Prix 2009-10-04 05:00:00
 818     818  2009     16         17  Brazilian Grand Prix 2009-10-18 16:00:00
 819     819  2009     17         23  Abu Dhabi Grand Prix 2009-11-01 11:00:00

          time
 0    00:00:00
 1    00:00:00
 2    00:00:00
 3    00:00:00
 4    00:00:00
 ..        ...
 815  12:00:00
 816  12:00:00
 817  05:00:00
 818  16:00:00
 819  11:00:00

 [820 rows x 7 columns],
   fkey_col_to_pkey_table={'circuitId': 'circuits'},
   pkey_col=raceId,
   time_col=date),
 'circuits': Table(df=
     circuitId   circuitRef                                  name  \
 0           0  albert_park        Albert Park Grand Prix Circuit
 1           1       sepang          Sepang International Circuit
 2           2      bahrain         Bahrain International Circuit
 3           3    catalunya        Circuit de Barcelona-Catalunya
 4           4     istanbul                         Istanbul Park
 ..        ...          ...                                   ...
 72         72     portimao    Autódromo Internacional do Algarve
 73         73      mugello  Autodromo Internazionale del Mugello
 74         74       jeddah               Jeddah Corniche Circuit
 75         75       losail          Losail International Circuit
 76         76        miami         Miami International Autodrome

         location       country       lat        lng    alt
 0      Melbourne     Australia -37.84970  144.96800   10.0
 1   Kuala Lumpur      Malaysia   2.76083  101.73800   18.0
 2         Sakhir       Bahrain  26.03250   50.51060    7.0
 3       Montmeló         Spain  41.57000    2.26111  109.0
 4       Istanbul        Turkey  40.95170   29.40500  130.0
 ..           ...           ...       ...        ...    ...
 72      Portimão      Portugal  37.22700   -8.62670  108.0
 73       Mugello         Italy  43.99750   11.37190  255.0
 74        Jeddah  Saudi Arabia  21.63190   39.10440   15.0
 75     Al Daayen         Qatar  25.49000   51.45420    NaN
 76         Miami           USA  25.95810  -80.23890    NaN

 [77 rows x 8 columns],
   fkey_col_to_pkey_table={},
   pkey_col=circuitId,
   time_col=None),
 'drivers': Table(df=
      driverId        driverRef code  forename     surname        dob  \
 0           0         hamilton  HAM     Lewis    Hamilton 1985-01-07
 1           1         heidfeld  HEI      Nick    Heidfeld 1977-05-10
 2           2          rosberg  ROS      Nico     Rosberg 1985-06-27
 3           3           alonso  ALO  Fernando      Alonso 1981-07-29
 4           4       kovalainen  KOV    Heikki  Kovalainen 1981-10-19
 ..        ...              ...  ...       ...         ...        ...
 852       852  mick_schumacher  MSC      Mick  Schumacher 1999-03-22
 853       853             zhou  ZHO    Guanyu        Zhou 1999-05-30
 854       854         de_vries  DEV      Nyck    de Vries 1995-02-06
 855       855          piastri  PIA     Oscar     Piastri 2001-04-06
 856       856         sargeant  SAR     Logan    Sargeant 2000-12-31

     nationality
 0       British
 1        German
 2        German
 3       Spanish
 4       Finnish
 ..          ...
 852      German
 853     Chinese
 854       Dutch
 855  Australian
 856    American

 [857 rows x 7 columns],
   fkey_col_to_pkey_table={},
   pkey_col=driverId,
   time_col=None),
 'results': Table(df=
        resultId  raceId  driverId  constructorId  number  grid  position  \
 0             0       0       660            152    18.0    21      11.0
 1             1       0       790            149     8.0    12       NaN
 2             2       0       579             49     1.0     3       NaN
 3             3       0       661            149     9.0    10       NaN
 4             4       0       789            152    17.0     7       NaN
 ...         ...     ...       ...            ...     ...   ...       ...
 20318     20318     819         1              1     6.0     8       5.0
 20319     20319     819        21             22    23.0     4       4.0
 20320     20320     819        17             22    22.0     5       3.0
 20321     20321     819        16              8    14.0     3       2.0
 20322     20322     819         2              2    16.0     9       9.0

        positionOrder  points  laps  milliseconds  fastestLap  rank  statusId  \
 0                 11     0.0    64           NaN         NaN   NaN        16
 1                 21     0.0     2           NaN         NaN   NaN       126
 2                 12     0.0    62           NaN         NaN   NaN        44
 3                 20     0.0     5           NaN         NaN   NaN         6
 4                 19     0.0     8           NaN         NaN   NaN        51
 ...              ...     ...   ...           ...         ...   ...       ...
 20318              5     4.0    55     5669667.0        54.0   7.0         1
 20319              4     5.0    55     5666149.0        54.0   4.0         1
 20320              3     6.0    55     5661881.0        49.0   6.0         1
 20321              2     8.0    55     5661271.0        14.0   5.0         1
 20322              9     0.0    55     5689355.0        49.0  15.0         1

                      date
 0     1950-05-13 00:00:00
 1     1950-05-13 00:00:00
 2     1950-05-13 00:00:00
 3     1950-05-13 00:00:00
 4     1950-05-13 00:00:00
 ...                   ...
 20318 2009-11-01 11:00:00
 20319 2009-11-01 11:00:00
 20320 2009-11-01 11:00:00
 20321 2009-11-01 11:00:00
 20322 2009-11-01 11:00:00

 [20323 rows x 15 columns],
   fkey_col_to_pkey_table={'raceId': 'races', 'driverId': 'drivers', 'constructorId': 'constructors'},
   pkey_col=resultId,
   time_col=date),
 'standings': Table(df=
        driverStandingsId  raceId  driverId  points  position  wins  \
 0                      0       0       789     0.0        20     0
 1                      1       0       640     0.0        18     0
 2                      2       0       589     0.0        19     0
 3                      3       0       669     0.0        15     0
 4                      4       0       661     0.0        22     0
 ...                  ...     ...       ...     ...       ...   ...
 28110              28110     819         7    48.0         6     1
 28111              28111     819        68     0.0        25     0
 28112              28112     819        11     0.0        21     0
 28113              28113     819         6     2.0        19     0
 28114              28114     819        12    22.0        11     0

                      date
 0     1950-05-13 00:00:00
 1     1950-05-13 00:00:00
 2     1950-05-13 00:00:00
 3     1950-05-13 00:00:00
 4     1950-05-13 00:00:00
 ...                   ...
 28110 2009-11-01 11:00:00
 28111 2009-11-01 11:00:00
 28112 2009-11-01 11:00:00
 28113 2009-11-01 11:00:00
 28114 2009-11-01 11:00:00

 [28115 rows x 7 columns],
   fkey_col_to_pkey_table={'raceId': 'races', 'driverId': 'drivers'},
   pkey_col=driverStandingsId,
   time_col=date),
 'constructors': Table(df=
      constructorId constructorRef            name nationality
 0                0        mclaren         McLaren     British
 1                1     bmw_sauber      BMW Sauber      German
 2                2       williams        Williams     British
 3                3        renault         Renault      French
 4                4     toro_rosso      Toro Rosso     Italian
 ..             ...            ...             ...         ...
 206            206          manor  Manor Marussia     British
 207            207           haas    Haas F1 Team    American
 208            208   racing_point    Racing Point     British
 209            209     alphatauri      AlphaTauri     Italian
 210            210         alpine  Alpine F1 Team      French

 [211 rows x 4 columns],
   fkey_col_to_pkey_table={},
   pkey_col=constructorId,
   time_col=None),
 'constructor_results': Table(df=
       constructorResultsId  raceId  constructorId  points                date
 0                        0      48            103    13.0 1956-01-22 00:00:00
 1                        1      48              5    12.0 1956-01-22 00:00:00
 2                        2      54            126     0.0 1956-08-05 00:00:00
 3                        3      54            103    15.0 1956-08-05 00:00:00
 4                        4      54              5     9.0 1956-08-05 00:00:00
 ...                    ...     ...            ...     ...                 ...
 9403                  9403     819              5     0.0 2009-11-01 11:00:00
 9404                  9404     819              0     0.0 2009-11-01 11:00:00
 9405                  9405     819              2     0.0 2009-11-01 11:00:00
 9406                  9406     819              4     1.0 2009-11-01 11:00:00
 9407                  9407     819              6     5.0 2009-11-01 11:00:00

 [9408 rows x 5 columns],
   fkey_col_to_pkey_table={'raceId': 'races', 'constructorId': 'constructors'},
   pkey_col=constructorResultsId,
   time_col=date),
 'constructor_standings': Table(df=
        constructorStandingsId  raceId  constructorId  points  position  wins  \
 0                           0      64            103     3.0         3     0
 1                           1      64              5     6.0         2     0
 2                           2      64             85     8.0         1     1
 3                           3      65             85    16.0         1     2
 4                           4      65             31     0.0         5     0
 ...                       ...     ...            ...     ...       ...   ...
 10165                   10165     819              3    26.0         8     0
 10166                   10166     819              1    36.0         6     0
 10167                   10167     819              2    34.5         7     0
 10168                   10168     819              4     8.0        10     0
 10169                   10169     819              9    13.0         9     0

                      date
 0     1958-01-19 00:00:00
 1     1958-01-19 00:00:00
 2     1958-01-19 00:00:00
 3     1958-05-18 00:00:00
 4     1958-05-18 00:00:00
 ...                   ...
 10165 2009-11-01 11:00:00
 10166 2009-11-01 11:00:00
 10167 2009-11-01 11:00:00
 10168 2009-11-01 11:00:00
 10169 2009-11-01 11:00:00

 [10170 rows x 7 columns],
   fkey_col_to_pkey_table={'raceId': 'races', 'constructorId': 'constructors'},
   pkey_col=constructorStandingsId,
   time_col=date),
 'qualifying': Table(df=
       qualifyId  raceId  driverId  constructorId  number  position  \
 0             0     548        43             26      26        19
 1             1     548       100             30      31        26
 2             2     548        91             29      34        25
 3             3     548        82             31      11        24
 4             4     548       105             32      19        23
 ...         ...     ...       ...            ...     ...       ...
 4077       4077     819        21             22      23         4
 4078       4078     819        16              8      14         3
 4079       4079     819        19              8      15         2
 4080       4080     819         0              0       1         1
 4081       4081     819        66              4      12        10

                     date
 0    1994-03-26 00:00:00
 1    1994-03-26 00:00:00
 2    1994-03-26 00:00:00
 3    1994-03-26 00:00:00
 4    1994-03-26 00:00:00
 ...                  ...
 4077 2009-10-31 11:00:00
 4078 2009-10-31 11:00:00
 4079 2009-10-31 11:00:00
 4080 2009-10-31 11:00:00
 4081 2009-10-31 11:00:00

 [4082 rows x 7 columns],
   fkey_col_to_pkey_table={'raceId': 'races', 'driverId': 'drivers', 'constructorId': 'constructors'},
   pkey_col=qualifyId,
   time_col=date)}

So `dataset.db.table_dict` is a dict, and we can check the full list of tables in the F1 database by checking out the dict keys.

In [58]:
dataset.db.table_dict.keys()

dict_keys(['races', 'circuits', 'drivers', 'results', 'standings', 'constructors', 'constructor_results', 'constructor_standings', 'qualifying'])

That's 9 tables total! Let's look more closely at one of them.

In [68]:
table = dataset.db.table_dict["drivers"]
table

Table(df=
     driverId        driverRef code  forename     surname        dob  \
0           0         hamilton  HAM     Lewis    Hamilton 1985-01-07
1           1         heidfeld  HEI      Nick    Heidfeld 1977-05-10
2           2          rosberg  ROS      Nico     Rosberg 1985-06-27
3           3           alonso  ALO  Fernando      Alonso 1981-07-29
4           4       kovalainen  KOV    Heikki  Kovalainen 1981-10-19
..        ...              ...  ...       ...         ...        ...
852       852  mick_schumacher  MSC      Mick  Schumacher 1999-03-22
853       853             zhou  ZHO    Guanyu        Zhou 1999-05-30
854       854         de_vries  DEV      Nyck    de Vries 1995-02-06
855       855          piastri  PIA     Oscar     Piastri 2001-04-06
856       856         sargeant  SAR     Logan    Sargeant 2000-12-31

    nationality
0       British
1        German
2        German
3       Spanish
4       Finnish
..          ...
852      German
853     Chinese
854       Dutch
855  Australian
856    American

[857 rows x 7 columns],
  fkey_col_to_pkey_table={},
  pkey_col=driverId,
  time_col=None)

The `drivers` table stores information on all F1 drivers that ever competed in a race. Note that the table comes with multiple bits of information:
- The table itself, `table.df` which is simply a Pandas DataFrame.
- The primary key column, `table.pkey_col`, which indicates that the `driverId` column holds the primary key for this particular table in the database.
- The primary time column, `table.time_col` which, if the entity is an event, records the time an event happened. In the case of drivers, they are non-temporal entities, so `table.time_col=None`.
- The other tables that foreign keys points to `table.fkey_col_to_pkey_table`. If the table has any foreign key columns, then this dict indicates which table we foreign key corresponds to. Again in the case of drivers this is not applicable. 

We can start to explore the data a little, e.g., check out the oldest and youngest ever F1 drivers, spanning 3 centuries!

In [80]:
print(table.df.iloc[table.df["dob"].idxmax()])
print(table.df.iloc[table.df["dob"].idxmin()])

driverId                       855
driverRef                  piastri
code                           PIA
forename                     Oscar
surname                    Piastri
dob            2001-04-06 00:00:00
nationality             Australian
Name: 855, dtype: object
driverId                       741
driverRef                etancelin
code                            \N
forename                  Philippe
surname                  Étancelin
dob            1896-12-28 00:00:00
nationality                 French
Name: 741, dtype: object

Going back to the `table.time_col` and `table.fkey_col_to_pkey_table`, the `results` table contains a non-trivial example.

In [98]:
dataset.db.table_dict["results"]

Table(df=
       resultId  raceId  driverId  constructorId  number  grid  position  \
0             0       0       660            152    18.0    21      11.0
1             1       0       790            149     8.0    12       NaN
2             2       0       579             49     1.0     3       NaN
3             3       0       661            149     9.0    10       NaN
4             4       0       789            152    17.0     7       NaN
...         ...     ...       ...            ...     ...   ...       ...
20318     20318     819         1              1     6.0     8       5.0
20319     20319     819        21             22    23.0     4       4.0
20320     20320     819        17             22    22.0     5       3.0
20321     20321     819        16              8    14.0     3       2.0
20322     20322     819         2              2    16.0     9       9.0

       positionOrder  points  laps  milliseconds  fastestLap  rank  statusId  \
0                 11     0.0    64           NaN         NaN   NaN        16
1                 21     0.0     2           NaN         NaN   NaN       126
2                 12     0.0    62           NaN         NaN   NaN        44
3                 20     0.0     5           NaN         NaN   NaN         6
4                 19     0.0     8           NaN         NaN   NaN        51
...              ...     ...   ...           ...         ...   ...       ...
20318              5     4.0    55     5669667.0        54.0   7.0         1
20319              4     5.0    55     5666149.0        54.0   4.0         1
20320              3     6.0    55     5661881.0        49.0   6.0         1
20321              2     8.0    55     5661271.0        14.0   5.0         1
20322              9     0.0    55     5689355.0        49.0  15.0         1

                     date
0     1950-05-13 00:00:00
1     1950-05-13 00:00:00
2     1950-05-13 00:00:00
3     1950-05-13 00:00:00
4     1950-05-13 00:00:00
...                   ...
20318 2009-11-01 11:00:00
20319 2009-11-01 11:00:00
20320 2009-11-01 11:00:00
20321 2009-11-01 11:00:00
20322 2009-11-01 11:00:00

[20323 rows x 15 columns],
  fkey_col_to_pkey_table={'raceId': 'races', 'driverId': 'drivers', 'constructorId': 'constructors'},
  pkey_col=resultId,
  time_col=date)

Here we start to notice certain data artifacts that might be good to keep in mind for later when doing ML modeling. For instance, the `milliseconds` and `fastestLap` columns seem to only have been collected for more recent races, with `NaN` features for earlier races.

# Loading a task

Each RelBench dataset comes with multiple pre-defined predictive tasks. For any given RelBench dataset, you can check all the associated tasks with:

In [81]:
dataset.task_names

['driver-position', 'driver-dnf', 'driver-top3']

Check out https://relbench.stanford.edu/ for detailed descriptions of what each task is. As an example, let's use `driver-top3` where the task is, for a given driver and a given timestamp, to predict whether that driver will finish in the top 3 in some race in the next 30 days.

The task itself is instantiated by calling:

In [86]:
task = dataset.get_task("driver-top3", process=True)

Ground truth train / val / test label are computed by calling `task.train_table` etc. Each task table contains triples (timestamp, Id, label) indicating the entity the label is associated to, the timepoint at which the prediction is made, an the label itself. The task table also indicates which database table it is "attached" to - in this case the the `drivers` table.

In [90]:
task.train_table

Table(df=
           date  driverId  qualifying
0    2004-08-04        40           0
1    2004-08-04        45           0
2    2004-08-04        43           0
3    2004-06-05        17           1
4    2004-06-05         9           0
...         ...       ...         ...
1348 1994-03-30        80           0
1349 1994-03-30        48           0
1350 1994-03-30        77           0
1351 1994-02-28        43           0
1352 1994-02-28        56           0

[1353 rows x 3 columns],
  fkey_col_to_pkey_table={'driverId': 'drivers'},
  pkey_col=None,
  time_col=date)

The test table is handled differently, with the labels being hidden by default.

In [92]:
task.test_table

Table(df=
          date  driverId
0   2013-03-16       153
1   2013-03-16        19
2   2012-10-17       808
3   2012-10-17       818
4   2012-10-17       817
..         ...       ...
721 2010-07-30        14
722 2010-06-30       154
723 2010-06-30        14
724 2010-05-01        14
725 2010-05-01       154

[726 rows x 2 columns],
  fkey_col_to_pkey_table={'driverId': 'drivers'},
  pkey_col=None,
  time_col=date)

We have carefully designed the standardized evaluation protocol (see: XXX) so that the test labels themselves are only ever used under the hood of RelBench, so users should not need to ever see them to reduce the risk of data leakage. If strictly needed, test labels can be retrieved by calling.

In [97]:
task._full_test_table

Table(df=
          date  driverId  qualifying
0   2013-03-16       153           0
1   2013-03-16        19           1
2   2012-10-17       808           0
3   2012-10-17       818           0
4   2012-10-17       817           0
..         ...       ...         ...
721 2010-07-30        14           0
722 2010-06-30       154           0
723 2010-06-30        14           0
724 2010-05-01        14           0
725 2010-05-01       154           0

[726 rows x 3 columns],
  fkey_col_to_pkey_table={'driverId': 'drivers'},
  pkey_col=None,
  time_col=date)

Now we have explored the data and task, the next step is to train an ML model on the data. See XXX for our GNN-based approach!